@keyframes animateG {
    0% {
        background-color: pink;
        left: 400px;
        top: 0px;
        transform: rotate(360deg);

    }
    15% {
        background-color: khaki;
        left: 0px;
        top: 0px;
    }
    30% {
        background-color: pink;
        left: 0px;
        top: 400px;
    }
    45% {
        background-color: skyblue;
        left: 400px;
        top: 400px;
    }
    60% {
        background-color: pink;
        left: 400px;
        top: 200px;
    }
    75% {
        background-color: khaki;
        left: 200px;
        top: 200px;
    }
    90% {
        background-color: pink;
        left: 400px;
        top: 0px;
    }
    100% {
        background-color: pink;
        left: 400px;
        top: 0px;
    }
}

@keyframes changeHeight {
    0% {
        transform: rotate(360deg);

        height: 150px;
    }
    15% {
        height: 550px;
    }
    30% {
        height: 550px;
    }
    45% {
        height: 550px;
    }
    60% {
        height: 350px;
    }
    75% {
        height: 350px;
    }
    90% {
        height: 150px
    }
    100% {
        height: 150px
    }
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    10% {
        background-color: orangered;
    }
    20% {
        background-color: orange;
    }
    30% {
        background-color: yellow;
    }
    40% {
        background-color: yellowgreen;
    }
    50% {
        background-color: green;
    }
    60% {
        background-color: turquoise;
    }
    70% {
        background-color: blue;
    }
    80% {
        background-color: purple;
    }
    90% {
        background-color: blueviolet;
    }
    100% {
        background-color: red;
    }
}

@keyframes spin {

    0% {
        transform: rotate(360deg);
    }
}

#container {

    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

#giorviContainer {

    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    background-image: url("Space.jpg");
}

#GContainer {

    width: 500px;
    height: 100px;
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 1rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    animation-name: changeHeight;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

#G {

    width: 100px;
    height: 100px;
    position: relative;
    animation-name: animateG;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

#boxContainer {

    top: -214px;
    left: 720px;
    width: 100px;
    height: 500px;
    background-image: url("./rango.jpg");
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 1rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
}

.box {


    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    animation-name: spin;
    animation-duration: .1s;
    animation-iteration-count: infinite;
}

#myDIV {

    display: none;
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 .5rem skyblue;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    background-color: white;
}

h1 {

    color: white;
    font: 1rem sans-serif;

}
